* { 
    font-size: 12px;
}

.ui-layout-unit-header-title, .titulo {
    font-size: 16px;
    border: 0;
}

p.titulo {
    margin: 0 0 3px 0;
}

.ui-wizard-step-title {
    font-size: 12px;
}

h3.titulo {
    margin: 0px 0px 5px 0px;
}

.margemInferior {
    margin: 0 0 5px 0;
}